<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="utility.Listens"/>
</listeners>
  <test thread-count="5" name="Test" parallel ="classes">
    <classes>
      <class name="testCases.InputboxTest"/>
     <class name="testCases.emailInputTest"/>
       <class name="testCases.LandingPageTest"/>
    <class name="testCases.PasswordMatchTest"/>
     
      <class name="testCases.NextButtonTest"/>
      <class name="testCases.WrongPasswordFormatTest"/>
      <class name="utility.Base"/>
      <class name="testCases.NewGmailTest"/>
      <class name="testCases.PasswordMismatchTest"/>
  
    <class name="testCases.Linktest"/>
      <class name="testCases.ShowPasswordTest"/>
      <class name="testCases.SigninTest"/>
    </classes>
  </test> <!-- 
  
 
  
  
  Test -->
</suite> <!-- Suite -->
